/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(16, 14, 27, 0.4); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(16, 14, 27, 0.7); 
}